header {
  min-height: 26vh;
  padding-top: 3rem;
  overflow: hidden;
}

.my-name {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-bg);
}

.title {
  font-size: 3rem;
  position: relative;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from { left: 0; }
  to { left: 200px; }
}

@keyframes myNEWmove {
  from { width: 0; }
  to { width: 500px; }
}

.header__container {
  text-align: center;
  height: 100%;

  /* position: relative; */
}

.hello {
  font-size: 2rem;
}

/* ======== CTA ======== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======== SOCIALS ======== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2%;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ======== ME ======== */
.fullstack__image {
  width: 15rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  50% {
    right: 10rem;
    left: 0;
  }
}

/* ======== SCROLL DOWN ======== */
.scroll-down {
  position: absolute;
  bottom: 5rem;
  right: -1.3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ===========MEDIA QUERIES (MEDIUM DEVICES)=========== */
@media screen and (max-width: 1024px) {
  header {
    height: 60vh;
    margin-bottom: 2rem;
  }

  .fullstack__image {
    /* background: linear-gradient(var(--color-primary), transparent); */
    width: 22rem;

    /* height: 30rem; */
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
  }

  /* ===========MEDIA QUERIES (SMALL DEVICES)=========== */
  @media screen and (max-width: 600px) {
    header {
      height: 80vh;
      margin-bottom: 10rem;
    }

    .header__socials,
    .socials__down {
      display: none;
    }

    .fullstack__image {
      /* background: linear-gradient(var(--color-primary), transparent); */
      width: 70%;
      height: 10rem;
      position: absolute;
      left: calc(50% - 11rem);
      margin: 9rem 2rem 1rem 2rem;
      border-radius: 5rem 5rem 0 0;
      overflow: hidden;
      padding: 2rem 3.5rem;
    }

    .scroll__down {
      margin-right: -2rem;
      color: #333;
    }
  }
}
